<!-- <h1>
  <p>My name is: {{username}}</p>
    <p>My age is: {{age}}</p>
    <ul>
      <li *ngFor="let fruit of fruitsList">{{fruit}}</li>
    </ul>
    <p>My favorite fruit is: {{fruit}}</p>
    <p>My-bj name is: {{name? "1" :"0"}}</p>
    <p> my-datas is {{numberlarge}}</p>
    <p>静态数据类型{{pois}}</p>
    <p>函数返回值：{{greencolor}}</p>
    <p>输出数组：{{deer}}</p>
    <p>输出数组new{{nag}}</p>
</h1>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-lg btn-default">Default</button> -->

<nav class="col-md-12">
	<li>logo</li>
	<li>theme</li>
	<li>about</li>
</nav>
<div class="col-md-3">fdsfsdfffdsfsf</div>
<div class="col-md-6">dsfdsfdsfdsa</div>
<div class="col-md-3">dsfsdfdsfdsfd</div>


