<ul class="nav nav-pills" routerLinkActive="active">
  <li class="nav-item">
   <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">home</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/list']" routerLinkActive="active" class="nav-link">Link</a>
  </li>
  <li class="nav-item">
      <a [routerLink]="['/detail',1]" routerLinkActive="active" class="nav-link">detail</a>
  </li>
    <li class="nav-item">
      <a [routerLink]="['/connact']" routerLinkActive="active" class="nav-link">connact</a>
  </li>
  <li class="nav-item">
      <a [routerLink]="['/form']" routerLinkActive="active" class="nav-link">form</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/editor']" routerLinkActive="active" class="nav-link">edit</a>
  </li>
</ul>
